
$body-font:"Open-sans", sans-serif;
$header-font:"Lora",serif;
$bold:700;
$medium:600;
$regular:400;
$xsmall-font:0.9rem;
$sm-font:1rem;
$md-font:2rem;
$lg-font:4rem;
$hover:#cbac88;
$black:#11100f;
$light-grey:#d9d8d8;
$grey:#84817e;
$not-active:#11100f;
$linen: #f6f0e8;
$white:#fdfcfa;
$shadow: -10px 10px #11100f;
;
.navbar{
    background-color: $white;
    color:$black;
}
.navbar .navbar-nav .nav-link {
    color: $black;
    &:hover{
        color: $hover;
        cursor: pointer;
    }
}

html{
    font-size:100%;   
}
.card{
background-color: $white;
border: none;
border-radius: 0px;
}
body{
    font-family: $body-font;
    font-weight: $regular;
    color:$black;
    background-color: $linen;
}

h1{
    font-family: $header-font;
    font-weight: $medium;
    font-size: $lg-font;
    color:$black;
}
h2{
    font-family: $header-font;
    font-weight: $medium;
    font-size: $md-font;
}
.form-control{
    border-color: $light-grey;
    background-color: $white;
    border-radius: 0px;
    margin-bottom: 1rem;
    color: $light-grey;
}
/* must size absolute for breakpoints*/
.absolute {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    height: 55.5rem;
    margin-left: auto;
    margin-right: auto; }
  .caption{
    font-weight: $regular;
  }

  .card-img {
    max-width: 5rem; }
  
  .card-section {
    margin: auto; }
  
  .container-fluid-hidden {
    overflow: hidden;
    min-height: 100vh; }
  .drop-shadow{
    box-shadow: $shadow;
}
  .footer {
    background-color: $black;
    padding: 5rem 10rem 3.5rem 10rem; }
  
  .footer i {
    color: white; }
  
  .footer-text {
    color: white; }
  
    .form-control::placeholder{
    color:$light-grey;
    }

    .form-control:focus{
        border-color:$linen;
        box-shadow: inset 0 1px 1px $linen, 0 0 4px $linen;
    }

    .front-card{
      width: 70%;
    }
  .full-height {
    min-height: 100vh; }
  
  .half {
    width: 50%;
    padding-left: 5rem; }
  
  .header-relative {
    position: relative; }
  
  .icon {
    padding-bottom: 1rem; }
 
 
  .icon-col {
    margin: auto;
    max-width: 10rem; }
  
  .icon-container {
    text-align: center;
    padding-bottom: 2.5rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem; }
  
  .icon-section {
    max-width: 1450px;
    padding: 4rem 10rem 0rem 10rem;
    margin: auto; }

    .items{
    overflow-x: scroll;
    padding-bottom:1rem;
    transition: all 0.2s;
    transform: scale(.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    }

    .items .active{
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(2);
    }




  .link {
    margin-right: .5rem; }
  
  .main-img {
    background: url(/img/main-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 47rem; }
  
  .navbar {
    z-index: 999; }

  .right-section {
    max-width: 1450px; }
  
  .message-block, .message-block-self {
    padding-top: 4rem; }
  
  #message-container-01 {
    display: block; 
    background-color: $white;
    padding:2rem;
    margin-bottom: 5rem;
}
  
  .message-img {
    width: 4rem; }
  
  .messages {
    padding: 2rem 2rem 8rem 2rem; }
  
  .padding-bottom {
    padding-bottom: 1rem; }
  
    .primary-button{
        background-color: $black;
        color: $white;
        width: 100%;
        border-radius: 0rem;
        margin-top: 1rem;
        &:hover{
            color: $black;
            background-color: $hover;
        }
    }
  /* must size full-container for breakpoints*/
  /* 100 = 5 rem , 50 = 2.5*/
  .results {
    margin-bottom: 4rem; }
  
  .section {
    max-width: 1450px;
    padding: 8rem 10rem 0rem 10rem;
    margin: auto; }
  
  .section-bottom {
    max-width: 1450px;
    padding: 8rem 10rem 8rem 10rem;
    margin: auto; 
    overflow-x: scroll;}
  
  .side-img {
    background: url(/img/side-img.jpg) no-repeat center;
    background-size: cover;
    width: 50%;
    height: 500px; }
  
  .slide {
    min-width: 500px; }
  
  .small-text {
    font-size: $xsmall-font; 
    color:$grey;}
  
  .top-container {
    max-width: 1450px;
    padding: 3.5rem 10rem 5rem 10rem; }
  
    .top-side{
        max-width: 750px;
    }
  @media (max-width: 992px) {
    .absolute {
      position: static; }
    .footer {
      padding: 5rem 5rem 5rem 5em; }
    .full-height {
      min-height: 1vh; }
      .front-card{
        width: 100%;
      }
    .half {
      width: 100%;
      padding-left: 0px;
      padding-top: 1.5rem; }
    .padding-bottom {
      padding-top: 1.5rem; }
    .right-section {
      margin: 0px; }
    .section, .top-container, .icon-section {
      padding: 5rem 5rem 0rem 5em; }
    .section-bottom {
      padding: 5rem 5rem 5rem 5rem; }
    .side-img {
      width: 100%; }
    .sticky-top {
      position: static; } 
      html{
        font-size:95%;
    }
    
    }
  
  @media (max-width: 576px) {
    #expand-message-01 {
      cursor: pointer; }
    .section {
      padding: 2rem 2rem 0rem 2em; }
    .section-bottom, .top-container, .footer, .icon-section {
      padding: 2rem; } 
      html{
        font-size:85%;
    }}
  